spring:
  profiles:
    active: local

api:
  checker:
    storage:
      filepath: ${user.home}/api-status.json

---
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DATABASE_URL}:${DATABASE_PORT}/${DATABASE_NAME}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jwt:
    secret: ${JWT_KEY}

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    database-platform: org.hibernate.dialect.MySQL8Dialect # 수정
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        default_batch_fetch_size: 100     # N+1문제를 해결하기 위해.

  mail:
    host: smtp.naver.com
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        transport:
          protocol: smtp
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enable: true
            trust: smtp.naver.com

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false
    s3:
      bucket-name: ${S3_BUCKET_NAME}

firebase:
  key: ${FIREBASE_KEY}

logging:
  level:
    org.hibernate.orm.jdbc.bind: debug

domain:
  local: ${LOCAL_DOMAIN}
  server: ${SERVER_DOMAIN}

---
spring:
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379
      password: ""  # 로컬에서는 비밀번호 없이 설정

---
spring:
  config:
    activate:
      on-profile: prod
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASS}

---
spring:
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:root}
    password: ${RABBITMQ_PASSWORD:}

rabbitmq:
  exchange:
    reservation: ${RESERVATION_EXCHANGE:reservation.events.exchange}
    timeout-delay: ${ATTEMPT_TIMEOUT_DELAY_EXCHANGE:attempt.timeout.delay.exchange}
    timeout: ${ATTEMPT_TIMEOUT_EXCHANGE:attempt.timeout.exchange}

  queue:
    joined: ${QUEUE_JOINED:joined.queue}
    attempt-finished: ${QUEUE_ATTEMPT_FINISHED:attempt.finished.queue}
    timeout-delay: ${QUEUE_ATTEMPT_TIMEOUT_DELAY:attempt.timeout.delay.queue}
    timeout: ${QUEUE_ATTEMPT_TIMEOUT:attempt.timeout.queue}

  routing:
    queue-joined: ${ROUTING_QUEUE_JOINED:queue.joined}
    attempt-finished: ${ROUTING_ATTEMPT_FINISHED:attempt.finished}
    timeout-delay: ${ROUTING_TIMEOUT_DELAY:timeout.delay}
    timeout: ${ROUTING_TIMEOUT:attempt.timeout}

  ttl:
    attempt: ${ATTEMPT_TTL:120000}